* {
    font-family: "Arial";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
    font-weight: 400;
}

h3 {
    font-size: 1.3rem;
    font-weight: 400;
}

h4 {
    font-weight: 400;
}

.errors ul {
    list-style: none;
}

.errors ul li {
    padding: .3rem .6rem;
    background-color: lightcoral;
}

nav {
    padding: 1rem 2rem;
    border-bottom: 1px solid lightgrey;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: .5rem;
    padding: .3rem .6rem;
}

nav ul li:hover {
    background-color: lightgrey;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.info {
    padding: 2rem;
    width: 50%;
}

.form-wrapper {
    padding: 2rem;
    width: 50%;
    border-left: 1px solid grey;
}

form {
    padding: .3rem .6rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
}

input {
    padding: .3rem .6rem;
    margin-bottom: 1rem;
}

.content {
    padding: 2rem;
    display: flex;
    flex-flow: column;
    width: 100%;
}

.content ul {
    list-style: none;
}

.content ul li {
    padding: .3rem .6rem;
    border: 1px solid grey;
    margin-bottom: .5rem;
    display: flex;
    justify-content: space-between;
}

.content ul li:hover {
    background-color: lightgrey;
}

.content span {
    flex: 1;
    margin-left: 1rem;
}

.delete {
    border-left: 1px solid lightgrey;
    text-decoration: none;
    text-transform: lowercase;
}

.correct {
    color: lightgreen;
}

.not-correct {
    color: lightcoral;
}

a.text, a.text:visited, a.text:hover {
    text-decoration: none;
    color: grey;
}
