<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title th:text="${aihe.getNimi()}">Aiheen nimi</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{~/style.css}" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <div class="errors">
            <ul>
                <li th:each="virhe : ${virheet}">
                    <span th:text="${virhe}">Virhe</span>
                </li>
            </ul>
        </div>
        <nav>
           <ul>
                <li>
                    <a href="/">Kurssien listaukseen</a>
                </li>
                <li>
                    <a th:href="@{~/kurssi/{id}(id=${kurssi.getId()})}">Aiheen kurssiin</a>
                </li>
            </ul> 
        </nav>
        <div class="wrapper">
            <div class="info">
                <h1>Kysymykset</h1>
                <h3 th:text="${'Aihe: ' + aihe.getNimi(}">Aihe</h3>
                <h3 th:text="${'Kurssi: ' + kurssi.getNimi()}">Kurssi</h3>
            </div>
            <div class="form-wrapper">
                <h2>Lisää kysymys</h2>
                <form method="POST" action="/kysymys">
                    <label for="vastaus">Kysymys</label>
                    <input type="text" name="kysymys" id="kysymys" required/>
                    <input type="hidden" name="aihe_id" th:value="${aihe.getId()}" />
                    <input type="submit" value="Lisää kysymys" />
                </form>
            </div>
            <div class="content">
                <ul>
                    <li th:each="kysymys : ${kysymykset}">
                        <a class="text" th:href="@{~/kysymys/{id}(id=${kysymys.getId()})}">
                            <p th:text="${kysymys.getKysymys()}"></p>
                        </a>
                        <a class="delete" th:href="@{~/kysymys/{id}/poista(id=${kysymys.getId()})}">
                            <span>Poista</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
