<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Kurssit</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{~/style.css}" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <div class="errors">
            <ul>
                <li th:each="virhe : ${virheet}">
                    <span th:text="${virhe}">Virhe</span>
                </li>
            </ul>
        </div>
        <div class="wrapper">
            <div class="info">
                <h1>Kurssit</h1>
            </div>
            <div class="form-wrapper">
                <h2>Lisää Kurssi</h2>
                <form method="POST" action="/kurssi">
                    <label for="nimi">Nimi</label>
                    <input type="text" name="nimi" id="nimi" required />
                    <input type="submit" value="Lisää kurssi" />
                </form>
            </div>
        </div>
        <div class="content">
            <ul>
                <li th:each="kurssi : ${kurssit}">
                    <a class="text" th:href="@{~/kurssi/{id}(id=${kurssi.getId()})}">
                        <h2 th:text="${kurssi.getNimi()}"></h2>
                    </a>
                    <a class="delete" th:href="@{~/kurssi/{id}/poista(id=${kurssi.getId()})}">
                        <span>Poista</span>
                    </a>
                </li>
            </ul>
        </div>
    </body>
</html>
