<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title th:text="${kurssi.getNimi()}">Kurssin nimi</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{~/style.css}" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <div class="errors">
            <ul>
                <li th:each="virhe : ${virheet}">
                    <span th:text="${virhe}">Virhe</span>
                </li>
            </ul>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/">Kurssien listaukseen</a>
                </li>
            </ul>
        </nav>
        <div class="wrapper">
            <div class="info">
                <h1>Aiheet</h1>
                <h3 th:text="${'Kurssi: ' + kurssi.getNimi()}">Kurssi</h3>
            </div>
            <div class="form-wrapper">
                <h2>Lisää aihe</h2>
                <form method="POST" action="/aihe">
                    <label for="nimi">Nimi</label>
                    <input type="text" name="nimi" id="nimi" required />
                    <input type="hidden" name="kurssi_id" th:value="${kurssi.getId()}" />
                    <input type="submit" value="Lisää aihe" />
                </form>
            </div>
        </div>
        <div class="content">
            <ul>
                <li th:each="aihe : ${aiheet}">
                    <a class="text" th:href="@{~/aihe/{id}(id=${aihe.getId()})}">
                        <h2 th:text="${aihe.getNimi()}"></h2>
                    </a>
                    <a class="delete" th:href="@{~/aihe/{id}/poista(id=${aihe.getId()})}">
                        <span>Poista</span>
                    </a>
                </li>
            </ul>
        </div>
    </body>
</html>
