<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title th:text="${kysymys.getKysymys()}">Kysymys</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 th:text="${'Kysymyksen ' + kysymys.getKysymys() + ' vastaukset'}">Kysymys</h1>
        <h2 th:text="${'Aihe ' + aihe.getNimi()}">Aiheen nimi</h2>
        <h3 th:text="${'Kurssi: ' + kurssi.getNimi()}">Kurssin nimi</h3>
        <ul>
            <li th:each="vastaus : ${vastaukset}">
                <h4 th:text="${vastaus.getVastaus()}"></h4>
                <span th:if="${vastaus.getOikein()}">
                   Oikein
                </span>
                <!-- ELSE -->
                <span th:unless="${vastaus.getOikein()}">
                   Väärin
                </span>
                <a th:href="@{~/vastaus/{id}/poista(id=${vastaus.getId()})}">
                    <button>Poista</button>
                </a>
            </li>
        </ul>
        <h2>Lisää vastaus</h2>
        <form method="POST" action="/vastaus">
            <label for="vastaus">Vastaus</label>
            <input type="text" name="vastaus" id="vastaus" />
            <label for="oikein">Oikein</label>
            <input type="checkbox" name="oikein" id="oikein" />
            <input type="hidden" name="kysymys_id" th:value="${kysymys.getId()}" />
            <input type="submit" value="Lisää kysymys" />
        </form>
    </body>
</html>
